.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5vh 3vh;
  border-bottom: 0.2vh solid #ccc;
  background-color: #fffffc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Apply a shadow */
}

.nav-logo img {
  margin-right: auto;
  height: 8vh; /* Set height to 4 viewport height */
  width: 10vh; /* Set width to 2 viewport height */
}

.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-list li {
  margin-left: 2vw;
}

.nav-list li:first-child {
  margin-left: 0;
}

.nav-list li:nth-child(4) {
  /* background-color: #0096c7; */
  border: 0.2vh solid #0096c7;
  padding: 1.5vh 4vh;
  border-radius: 4rem;
}
.nav-list li:nth-child(4):hover {
  background-color: #48cae4;
  text-decoration: none;
}

.nav-list li:nth-child(5) {
  /* background-color: #0096c7; */
  border: 0.2vh solid #0096c7;
  padding: 1.5vh 4vh;
  border-radius: 4vh;
}
.nav-list li:nth-child(5):hover {
  background-color: #48cae4;
  text-decoration: none;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  font-size: 2vh;
  color: rgba(0, 0, 0, 0.5);
}

.nav-list li a:hover {
  /* text-decoration: underline; */
  color: rgba(0, 0, 0, 0.9);
  transition: 0.5s ease;
}

.signup a {
  display: flex;
  align-items: center;
}
.signup a p {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
