.signup-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #bde0fe;
}

.signup-form-container h2 {
  font-size: 5em;
  color: #fff;
  text-align: center;
  color: #023047;
}

.signup-form-container-right {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #023047;
  border-radius: 3rem;
  padding: 0 5vw;
}

.signup-form-container-right img {
  max-width: 50%;
  height: auto;
  border-radius: 2rem;
}

.signup-form-container-right form {
  width: 70%;
  padding-left: 5vw;
}
.signup-form-container-right form p {
  color: #fff;
  text-decoration: none;
  font-size: 3rem;
}
.signup-form-container-right form a {
  color: #fff;
}
.signup-form-container-right form a:hover {
  color: #007bff;
}

.form-group {
  width: 80%;
}

.form-group {
  margin-bottom: 2rem;
}

.form-group input {
  width: 115%;
  padding: 1.5rem;
  font-size: 2vh;
  border-radius: 2rem;
}

button {
  padding: 2rem 3rem;

  font-size: 3rem;

  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
